<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <title>Spring Security Example </title>
</head>
<body>
Напиши отчет
<form action="/master/report/{{idCall}}" method="post">
    <div><label> Report: <input type="text" name="report"/> </label></div>
    <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
    <div><input type="submit" value="Отправить"/></div>
</form>
</body>
</html>