<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <title>Spring Security Example </title>
</head>
<body>
<div>Ваша оценка</div>
<a href="/client/stars/1/{{idCall}}">1</a>

<a href="/client/stars/2/{{idCall}}"> 2</a>

<a href="/client/stars/3/{{idCall}}"> 3</a>

<a href="/client/stars/4/{{idCall}}"> 4</a>

<a href="/client/stars/5/{{idCall}}"> 5</a>
</body>
</html>